.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 43, 59, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-footer-text {
    color: white !important;
}